<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <hgroup>
                <h1>@ViewBag.title</h1>
                <h2>@ViewBag.message</h2>
            </hgroup>
        </div>
    </div>
    <br />
    <br />
</div>
<br />
<br />

