<div class="jumbotron">
    <h1>Lista de heróis e comics da marvel</h1>
    <p class="lead">Bem vindo(a) ao sistema que lista os personagens suas comics na marvel!</p>
    <p><a href="/Personagem/Index/?limit=30&offset=0" class="btn btn-primary btn-lg">Ver personagens &raquo;</a></p>
</div>